forward_ssh_agent: false
status_page: false
allow_pull: false
allow_volumes: false
gin_mode: release
listen: 127.0.0.1:12010
api_key: create-your-key
timeout: 3600
ssh_host_keys:
  - "rscz.ru,89.108.106.104 ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBF/+JpSBhQOlTNg4xprtpXtl/OSfnXPHJMyNkjmtKm1CpCFRxoyZYjRexyPrEK7h+QJhvwiZ/XApjCYDkcTZI5s="
